.side_bar
  .side_bar__user
    .top-items
      .top-items__name
        david
      .top-items__icons
      = link_to "#", class: "top-items__icons--setting" do
        %i.far.fa-edit
      = link_to "#", class: "top-items__icons--setting" do
        %i.fa.fa-cog
  .side_bar__group
    .group-space
      = link_to "#", class: "group-space" do
        .group-space__name
          techcamp
        .group-space__status
          まだメッセージがありません
    .group-space
      = link_to "#", class: "group-space" do
        .group-space__name
          techcamp
        .group-space__status
          まだメッセージがありません