* {
  box-sizing: border-box;
}

$mainWhiteColor: #ffffff;

@mixin flex() {
  display: flex;
  justify-content: space-between;
}

.side_bar{
  height: 100vh;
  width: 300px;
  background-color: #2f3e51;
  color: $mainWhiteColor;
  float: left;
  &__user-name{
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    padding: 0 20px;
    .top-items{
      @include flex();
      width: 260px;
      height: 20px;
      line-height: 20px;
      &__name{
        font-weight: bold;
        font-size: 16px;
        width: 200px;
      }
      &__icons{
        width: 60px;
        margin-left: auto;
        margin-right: auto;
        &--setting{
          padding-left: 10px;
          text-decoration: none;
          color: $mainWhiteColor;
          font-size: 0.85em;
        }
      }
    }
  }

  .side_bar__group-list{
    padding:20px 20px ;
    height: calc(100vh-100px);
    text-decoration: none;
    .group-box{
      display: block;
      width: calc(300px-40px);      
      color: $mainWhiteColor;
      margin: 0 auto;
      .group-box__link{
        text-decoration: none;
      }
      &__name{
        padding: 20px 0 5px 0;
        font-size: 15px;
        font: bold;
        color: $mainWhiteColor;          
      }
      &__message{
        font-size: 11px;
        font: bold;
        margin: 5px 0 20px 0;
        color: $mainWhiteColor;        
      }
    }
  }
}

.chat_main{
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: $mainWhiteColor;
  float: right;
  
  &__group-info{
    height: 100px;
    background-color: $mainWhiteColor;
    border-bottom: thin solid #eeeeee;
    @include flex();
    padding: 0 40px;
    .room-info{
      background-color: $mainWhiteColor;
      &__room-name{
        padding-top: 35px;
        color: #333333;
        font-size: 20px;
      }
      &__room-member{
        padding-top: 15px;
        color: #999999;
        font-size: 12px;
      }
    }
    .edit-btn{
      text-decoration: none;
      border: solid 1px;
      height: 40px;
      width: 73px;
      color: #38aef0;
      padding:0 20px;
      margin-top: 30px;
      line-height: 40px;
      font-size: 16px; 
    }
  }


  &__messages-list {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding-left: 40px;
    padding-top: 46px;
    overflow: scroll;
    .chat-main__messages-list__message {
      margin-bottom: 12px;
      .chat-main__messages-list__message__upper-info {
        display: flex;
        padding-bottom: 10px;
        &__talker {
          color: #333333;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .chat-main__messages-list__message__lower-message {
        &__content {
          height: 46px;
          font-size: 14px;
          color: #434a54;
          padding-bottom: 46px;
        }
      }
    }
  }

  &__message-form{
    height: 90px;
    background-color: #d2d2d2;
    padding: 0 40px;
    display: flex;  
    align-items: center;

    .new_message{
      display: flex;
      height: 50px;
      width: 100%;
      .chat-form-wrapper{
        position: relative;
        width: 100%;
        .chat-form__box{
          display: block;
          width: 100%;
          background-color: $mainWhiteColor;
          color: #333333 ;
          padding: 10px;
          height: 50px;
        }

        .input-box__image{
          font-size: 25px;
          color: black;
          position: absolute;
          right: 9px;
          top: 6px;
          input{
            display: none;
          }
        }
      }
      
      .chat-form__send-btn{
        color: $mainWhiteColor;
        width: 100px;
        padding: 0 30px;
        align-items: center;
        display: flex;
        margin-left: 15px;
        background-color: #38aef0;
      }
    }
  }
}